# taobao
#registry = "https://registry.npmmirror.com"
# ali
#registry = "https://npm.aliyun.com"
# npm
#registry="https://registry.npmjs.org/"
# tencent
registry = "http://mirrors.cloud.tencent.com/npm/"
# huawei
#registry = "https://mirrors.huaweicloud.com/repository/npm/"
public-hoist-pattern[]=husky
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
